*{
    box-sizing: border-box;
}

body{
<<<<<<< Updated upstream
    margin: 20px;
}
=======
    margin: 0;
    font-family: cursive;
<<<<<<< Updated upstream
}
>>>>>>> Stashed changes
=======
}
>>>>>>> Stashed changes
